*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5vmin;
    font-weight: bold;
}

body{
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.header{
    display: flex;
    justify-content: space-between;
    width: 86vmin;
}

.header-left{
    color: #eee6e6;
}

.header-left div {
    margin: auto;
}

.menu_button {
    cursor: pointer;
    user-select: none;
    text-align: center;
    padding: 10px;
    color: #eee6e6;
    background-color: #444;
    border: none;
    transition: all 300ms;
}

.menu_button:hover {
    background-color: #5c5b5b;
}


#game-board{
    --cell-size: 20vmin;
    --cell-gap: 2vmin;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: repeat(4,var(--cell-size));
    gap: var(--cell-gap);
    border-radius: 1vmin;
}

.game-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-bar-controller .cell{
    cursor: pointer;
    color: #eee6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 20vmin;
}

.game-bar-controller .cell:hover {
    background-color: #5c5b5b;
}

.game-bar-controller {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-bar-controller-bottom {
    gap: 5px;
    display: flex;
}

.cell{
    background-color: #444;
    border-radius: 1vmin;
}

.tile{
    --x: 0;
    --y: 0;
    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 20vmin;
    border-radius: 1vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5vmin;
    font-weight: bold;
    background-color:var(--bg-lightness);
    color: var(--text-lightness);
    transition: 100ms;
    animation: show 200ms;
}

@keyframes show{
    0%{
        opacity: 0.5;
        transform: scale(0);
    }
}

