*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 10% 0 10%;
    height: 50px;
    font-family: clear sans,helvetica neue,Arial,sans-serif;
    font-size: 25px;
}

.score-bar{
    height: 100%;
    margin: 18px;
}

.game-conteiner{
    width: 450px;
    height: 450px;
    padding: 12px 0 0 12px;
    position: relative;
    margin: 20px auto 0 auto;
    background-color: #776e65;
    color: #776e65;
    font-family: clear sans,helvetica neue,Arial,sans-serif;
    font-size: 18px;
    border-radius: 6px;
}

.grid-conteiner{
    position: absolute;
    margin: auto;
    z-index: 1;
}

.grid-row{
    margin-bottom: 15px;
}

.grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.grid-cell{
    display: block;
    width: 97.5px;
    height: 97.5px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238,228,218,.35);
}

.tile-conteiner{
    position: absolute;
    z-index: 2;
}

.tile {
    position: absolute;
    z-index: 5;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.deleteTile{
    z-index: 3;
}

.tile .tile-inner{
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    font-weight: 700;
    z-index: 10;
    font-size: 65px;
    width: 98px;
    height: 98px;
    line-height: 100.5px;
}

.tile.tile-2 .tile-inner {
    background: #eee4da;
    box-shadow: 0 0 30px 10px transparent,inset 0 0 0 1px transparent
}

.tile.tile-4 .tile-inner {
    background: #ede0c8;
    box-shadow: 0 0 30px 10px transparent,inset 0 0 0 1px transparent
}

.tile.tile-8 .tile-inner {
    color: #f9f6f2;
    background: #f2b179
}

.tile.tile-16 .tile-inner {
    color: #f9f6f2;
    background: #f59563
}

.tile.tile-32 .tile-inner {
    color: #f9f6f2;
    background: #f67c5f
}

.tile.tile-64 .tile-inner {
    color: #f9f6f2;
    background: #f65e3b
}

.tile.tile-128 .tile-inner {
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243,215,116,.2381),inset 0 0 0 1px rgba(255,255,255,.14286);
    font-size: 45px
}

@media screen and (max-width: 520px) {
    .tile.tile-128 .tile-inner {
        font-size:25px
    }
}

.tile.tile-256 .tile-inner {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243,215,116,.31746),inset 0 0 0 1px rgba(255,255,255,.19048);
    font-size: 45px
}

@media screen and (max-width: 520px) {
    .tile.tile-256 .tile-inner {
        font-size:25px
    }
}

.tile.tile-512 .tile-inner {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243,215,116,.39683),inset 0 0 0 1px rgba(255,255,255,.2381);
    font-size: 45px
}

@media screen and (max-width: 520px) {
    .tile.tile-512 .tile-inner {
        font-size:25px
    }
}

.tile.tile-1024 .tile-inner {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243,215,116,.47619),inset 0 0 0 1px rgba(255,255,255,.28571);
    font-size: 35px
}

@media screen and (max-width: 520px) {
    .tile.tile-1024 .tile-inner {
        font-size:15px
    }
}

.tile.tile-2048 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243,215,116,.55556),inset 0 0 0 1px rgba(255,255,255,.33333);
    font-size: 35px
}

@media screen and (max-width: 520px) {
    .tile.tile-2048 .tile-inner {
        font-size:15px
    }
}


.tile.tile-position-1-1{
    -webkit-transform:translate(0px,0px);
    -moz-transform:translate(0px,0px);
    -o-transform:translate(0px,0px);
    transform:translate(0px,0px);
}

.tile.tile-position-2-1{
    -webkit-transform:translate(0px,111.6px);
    -moz-transform:translate(0px,111.6px);
    -o-transform:translate(0px,111.6px);
    transform:translate(0px,111.6px);
}

.tile.tile-position-3-1{
    -webkit-transform:translate(0px,225.6px);
    -moz-transform:translate(0px,225.6px);
    -o-transform:translate(0px,0px);
    transform:translate(0px,225.6px); 
}

.tile.tile-position-4-1{
    -webkit-transform:translate(0px,336.6px);
    -moz-transform:translate(0px,336.6px);
    -o-transform:translate(0px,0px);
    transform:translate(0px,336.6px); 
}

.tile.tile-position-1-2{
    -webkit-transform:translate(111.6px,0px);
    -moz-transform:translate(111.6px,0px);
    -o-transform:translate(0px,0px);
    transform:translate(111.6px,0px);
}

.tile.tile-position-2-2{
    -webkit-transform:translate(111.6px,111.6px);
    -moz-transform:translate(111.6px,111.6px);
    -o-transform:translate(0px,0px);
    transform:translate(111.6px,111.6px);
}

.tile.tile-position-3-2{
    -webkit-transform:translate(111.6px,225.6px);
    -moz-transform:translate(111.6px,225.6px);
    -o-transform:translate(0px,0px);
    transform:translate(111.6px,225.6px);
}

.tile.tile-position-4-2{
    -webkit-transform:translate(111.6px,336.6px);
    -moz-transform:translate(111.6px,336.6px);
    -o-transform:translate(0px,0px);
    transform:translate(111.6px,336.6px);
}

.tile.tile-position-1-3{
    -webkit-transform:translate(225.6px,0px);
    -moz-transform:translate(225.6px,0px);
    -o-transform:translate(0px,0px);
    transform:translate(225.6px,0px);
}

.tile.tile-position-2-3{
    -webkit-transform:translate(225.6px,111.6px);
    -moz-transform:translate(225.6px,111.6px);
    -o-transform:translate(0px,0px);
    transform:translate(225.6px,111.6px);
}

.tile.tile-position-3-3{
    -webkit-transform:translate(225.6px,225.6px);
    -moz-transform:translate(225.6px,225.6px);
    -o-transform:translate(0px,0px);
    transform:translate(225.6px,225.6px);
}

.tile.tile-position-4-3{
    -webkit-transform:translate(225.6px,336.6px);
    -moz-transform:translate(225.6px,336.6px);
    -o-transform:translate(0px,0px);
    transform:translate(225.6px,336.6px);
}

.tile.tile-position-1-4{
    -webkit-transform:translate(338.6px,0px);
    -moz-transform:translate(338.6px,0px);
    -o-transform:translate(0px,0px);
    transform:translate(338.6px,0px);
}

.tile.tile-position-2-4{
    -webkit-transform:translate(338.6px,111.6px);
    -moz-transform:translate(338.6px,111.6px);
    -o-transform:translate(0px,0px);
    transform:translate(338.6px,111.6px);
}

.tile.tile-position-3-4{
    -webkit-transform:translate(338.6px,225.6px);
    -moz-transform:translate(338.6px,225.6px);
    -o-transform:translate(0px,0px);
    transform:translate(338.6px,225.6px);
}

.tile.tile-position-4-4{
    -webkit-transform:translate(338.6px,336.6px);
    -moz-transform:translate(338.6px,336.6px);
    -o-transform:translate(0px,0px);
    transform:translate(338.6px,336.6px);
}